.App-logo {
    height: 80px;
}

.App-container, .App-header {
    padding: 20px;
}

.App-header {
    text-align: center;
    background-color: white;
    height: 150px;
    color: #222;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.App-LoginForm-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 140px;
}

.App-pagination {
    text-align: center;
}

.App-sizes-system {
    float: left;
}

.App-sizes-gender {
    float: right;
}
